@import "tailwindcss";

@theme {
  --color-surface-bright: #f4fafd;
  --color-surface-dim: #d4dbdd;
  --color-inverse-on-surface: #ebf2f4;
  --color-on-background: #161d1f;
  --color-on-tertiary-fixed-variant: #314d3c;
  --color-surface: #f4fafd;
  --color-error: #ba1a1a;
  --color-on-primary: #ffffff;
  --color-secondary-fixed: #cee7e9;
  --color-on-secondary: #ffffff;
  --color-on-tertiary: #ffffff;
  --color-on-error-container: #93000a;
  --color-vibrant-purple: #A29BFE;
  --color-tertiary-fixed: #caead3;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-container: #362d8a;
  --color-surface-container: #e8eff1;
  --color-on-primary-fixed: #140067;
  --color-outline: #787583;
  --color-tertiary-fixed-dim: #aeceb8;
  --color-secondary-fixed-dim: #b2cbcd;
  --color-surface-container-low: #eef5f7;
  --color-secondary-container: #cbe4e7;
  --color-pastel-lavender: #C7C2FE;
  --color-eco-mint: #DAFBE3;
  --color-surface-container-highest: #dde4e6;
  --color-outline-variant: #c8c4d3;
  --color-on-surface: #161d1f;
  --color-primary: #5952af;
  --color-on-primary-fixed-variant: #413996;
  --color-on-tertiary-fixed: #042012;
  --color-error-container: #ffdad6;
  --color-on-secondary-container: #4f6769;
  --color-on-tertiary-container: #264231;
  --color-surface-container-high: #e2e9ec;
  --color-on-surface-variant: #474552;
  --color-tertiary-container: #8fae99;
  --color-on-secondary-fixed: #061f21;
  --color-secondary: #4b6364;
  --color-inverse-primary: #c5c0ff;
  --color-on-secondary-fixed-variant: #334b4d;
  --color-surface-tint: #5952af;
  --color-primary-fixed: #e3dfff;
  --color-caution-yellow: #FCE87B;
  --color-background: #f4fafd;
  --color-on-error: #ffffff;
  --color-primary-container: #a29bfe;
  --color-surface-variant: #dde4e6;
  --color-inverse-surface: #2b3234;
  --color-tertiary: #486552;
  --color-primary-fixed-dim: #c5c0ff;
  --color-sky-tint: #DFF9FB;

  /* Spacing config */
  --spacing-base: 8px;
  --spacing-stack-lg: 48px;
  --spacing-stack-md: 24px;
  --spacing-gutter: 16px;
  --spacing-stack-sm: 12px;
  --spacing-container-margin: 24px;

  /* Font configurations */
  --font-body-lg: "Be Vietnam Pro", sans-serif;
  --font-body-md: "Be Vietnam Pro", sans-serif;
  --font-display-lg: "Plus Jakarta Sans", sans-serif;
  --font-label-md: "Plus Jakarta Sans", sans-serif;
  --font-headline-md: "Plus Jakarta Sans", sans-serif;
  --font-headline-lg-mobile: "Plus Jakarta Sans", sans-serif;
  --font-headline-lg: "Plus Jakarta Sans", sans-serif;
}

@utility text-body-lg {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
@utility text-body-md {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
@utility text-display-lg {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  font-weight: 800;
}
@utility text-label-md {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
@utility text-headline-md {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
@utility text-headline-lg-mobile {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}
@utility text-headline-lg {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}